/* START PAGE */

body {
    background-color: whitesmoke;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
}

/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #292438;
}

/* main title and rules */
h1,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    color: #292438;
    margin-bottom: 0.20rem;
    font-weight: 800;
}

h4 {
    margin-top: 1rem;
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font: 700;
    margin-bottom: 1rem;
}

/* flex box that is going to center main content */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto; /* keep everything centered evem when page size is smaller */
    padding: 2rem;
}

/* child of container */
.container > * {
    width: 100vw;
}

/* flex box which - stack things on top of each other */
/* and center everything */
.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

/* style for button */
/* button applied to anchor tag */
.button {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    border: 0.20rem solid #292438; /*border around the button */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none; /*stops link from having an underline */
    background-color: whitesmoke;
    color: #292438;
}

/* when cursor hovers over button it will move sightly up using transform */
/* cursor set to pointer */
.button:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.button[diasabled]:hover {
    cursor: not-allowed;
    transform: none;
}
